/* Table */

th {
    color: whitesmoke;
    font-weight: bolder;
    background: #3C7E7B;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.bnEdit {
    background: #3C7E7B;
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 1.0em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.bnEdit:hover {
    background: #fff;
    color: #3C7E7B
}

.bnEdit:before,
.bnEdit:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #3C7E7B;
    transition: 400ms ease all;
}

.bnEdit:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.bnEdit:hover:before,
.bnEdit:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


/* Header */

#navigation-purple {
    padding-bottom: 0px;
    margin: 0;
    background-color: #3C7E7B;
    border: none;
    border-radius: 0;
}

#navigation-purple .nav {
    margin-left: -15px;
}

#navigation-purple .nav>li {
    border-bottom: 2px solid transparent;
    margin-bottom: 34px;
}

#navigation-purple .nav>li:hover {
    border-bottom-color: #fff;
}

#navigation-purple .nav>li:focus {
    background-color: transparent;
}

#navigation-purple .nav>li>a {
    font-size: 18px;
    color: white;
}

#navigation-purple .nav>li>a:hover,
#navigation-purple .nav>li>a:focus {
    background-color: transparent;
}

#navigation-purple .navbar-collapse {
    padding-top: 35px;
}

#navigation-purple .avatar {
    height: 80px;
    float: right;
    margin-top: 19px;
}

#navigation-purple .icon-bar {
    background-color: white;
}

#navigation-purple .navbar-toggle {
    border-color: white;
    float: left;
    margin-left: 25px;
    margin-top: 30px;
}

#navigation-purple .navbar-toggle:hover,
#navigation-purple .navbar-toggle:focus {
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    #navigation-purple .navbar-collapse {
        padding-top: 0;
    }
    #navigation-purple ul>li {
        float: left;
        clear: left;
        margin-left: 4px;
        padding-bottom: 8px;
        margin-bottom: 5px !important;
    }
    #navigation-purple ul>li>a {
        padding-bottom: 2px;
    }
    #navigation-purple ul>li:hover {
        border-bottom: 2px solid white;
    }
    #navigation-purple .avatar {
        height: 60px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
}

.header-nightsky .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.header-nightsky .hero h1 {
    color: #BEBEBE;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
    text-decoration: underline;
}


/*Popup */

.datosg {
    width: 40%;
}

.datosp {
    width: 30%;
}

.datos3 {
    width: 25%;
}

.datos2 {
    width: 36%;
}

.gender {
    width: 10%;
}

.radio-inline {
    width: 15%;
}

b {
    color: #3C7E7B;
}

a {
    text-decoration: none;
    padding: 10px;
    background: #3C7E7B;
    color: #fff;
    font-size: 15px;
    border-radius: 10%;
}

a:hover {
    text-decoration: none;
    background: #fff;
    color: #3C7E7B;
    border-color: #3C7E7B;
}